<header>
  <title>About | CodeVarma</title>
</header>

<h1 id="page_title"> About Me </h1>

<div id="about_wrapper" class="skinny_wrapper_about">
  <h5 class="post">Hi! I'm Jampana Varma<br/>To be a Software Craftsman is my dream. Coding &amp; Development are my passion and the amazing ocean of opportunities it has is what drives my passion. I spend most of my time learning and working on new stuff.</h5>
  <h4 class="about_list">Techs I'm learning, have knowledge, worked and used:</h4>
  <a frameborder="0" data-theme="dark" data-stack-embed="true" data-layers="1,2,3,4" href="https://embed.stackshare.io/stacks/embed/232b282c0d69eb"/></a><script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
  <p class="post" style="margin-top: 10px;">Send me a <a href="/contacts/new" class="show_button show_button_wrapper">direct message</a></p>
  <p class="post">You can see my work on <a href="http://github.com/jvssvarma" target="_blank" class="show_button show_button_wrapper">Github</a></p>
  <p>(Please feel free to look through my work and if you are interested in working with me don't hesitate to get in touch! You can find me speaking in 140 characters on Twitter, posting pictures on instagram and sharing some code on Github.)</p>

  <p class="post">See my project portfolio @<a href="http://jampanavarma.me" target="_blank"> jampanavarma.me</a></p>
  <p class="post_link"><a href="http://twitter.com/sunny_santosh" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp; <a href="http://github.com/jvssvarma" target="_blank"><i class="fa fa-github"></i></a> &nbsp; <a href="http://linkedin.com/in/jampanavarma" target="_blank"><i class="fa fa-linkedin"></i></a></p>

</div>
