<div class="wrapper wrapper_padding clearfix">
	<div class="about homepage_content">
		<h2>Welcome!</h2>
    <h1 wrapper_head>I'm Jampana Varma<br><span class="blue">Coder</span>, <span class="green">Web Devloper</span>,
      <span class="half_red">Amateur Designer</span> &amp; <span class="orange">Editor</span> from San Jose, CA</b></h1>
	</div>
	<br>
	<br>
	<div class="center col-1 posts_content">
		<h2>Stuff I want to Share</h2>
		<hr align="center">
		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>

	</div>
	<div class="center col-1 projects_content">
		<h2>Stuff I've Written</h2>
		<hr>
		<% @articles.each do |article| %>
			<h3><a href="#"><%= link_to article.title, article %></a></h3>
			<p class="date"><%= article.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>
