<header>
	<title>CodeVarma | Articles on Rails</title>
</header>

<div class="wrapper wrapper_padding clearfix">
	<div class="about homepage_content">
    <h2>Articles &amp; Guides on adding features or building apps using<span class="half_red">Ruby Gems</span> in <span class="green">Rails Applications</span> and other simple web practices.</h2>
    <h3>Hi! I'm <span class="blue">jvssvarma</span> &amp; thank you for visiting <span class="orange">CodeVarma</span>. Checkout my blogs, articles, projects &amp; guides.</h3>
	</div>
	<br>
	<br>
	<div class="center col-1 posts_content">
		<h2>Recently added Guides</h2>
		<% @guides.each do |guide| %>
			<h3><a href="#"><%= link_to guide.title, guide %></a></h3>
			<p class="date"><%= guide.created_at.strftime("%A, %b %d") %></p>
		<% end %>

	</div>
	<div class="center col-1 projects_content">
		<h2>Recent Articles</h2>
		<% @articles.each do |article| %>
			<h3><a href="#"><%= link_to article.title, article %></a></h3>
			<p class="date"><%= article.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>
