#background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  header {
    padding: 1rem 0;
		-webkit-transition-delay: 2s; /* Safari */
		transition-delay: 2s;
    #logo {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.3em;
      color: #000000;
      text-decoration: none;
    }
    nav {
      float: left;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;
          a {
            color: #000000;
            font-size: 1em;
						text-decoration: none;
          }
        }
      }
    }
  }
}

.welcome_message {
  font-size: 1.4rem;
}


.col-1, .col-2, .col-3 {
	float: left;
}

.col-1 {
	background-image: url(http://s3.amazonaws.com/codevarma/asfalt-light.png);
	background-color: #004e66;
	width: 50%;
	padding: 0 2.5%;
}

.col-2, .col-3 {
	width: 27.5%;
	padding: 0 2.5%;
}

.round-image-50 {
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    img { width: 100% };
    margin-left: auto;
    margin-right: auto
}



.homepage_content {
	h1 {
		color: #E71D36;
	}
	h2 {

		font-size: 1.1rem;
		text-transform: uppercase;
	}
	h3 {

		font-size: 1.35em;
		font-weight: 100;

	}
	a {
		text-decoration: none;
		color: $dark;
		&:hover {
			color: #FFFFFF;
		}
	}
	.date {
		font-size: .85em;
		margin-bottom: 2em;
		color: #dark;
	}
	p {
		margin: 0 0 .75em 0;
	}
}

.posts_content {
	background-color: #ffc952;
	h2 {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1.35em;
		font-weight: 400;
		margin-bottom: .5em;
	}
	a {
		text-decoration: none;
		color: $dark;
		&:hover {
			color: #FFFFFF;
		}
	}
	.date {
		font-size: .85em;
		margin-bottom: 2em;
		color: #34314c;
	}
	p {
		margin: 0 0 .75em 0;
	}
}


.projects_content {
	background-color: #ff7473;
	h2 {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1.35em;
		font-weight: 400;
		margin-bottom: .5em;
	}
	a {
		text-decoration: none;
		color: $dark;
		&:hover {
			color: #FFFFFF;
		}
	}
	.date {
		font-size: .85em;
		margin-bottom: 2em;
		color: #34314c;
	}
	p {
		margin: 0 0 .75em 0;
	}
}

.about {
	padding: 0 7.5% 0 0;
	a {
		color: #FFFFFF;
		font-weight: 700;
		text-decoration: none;
	}
}
